swagger: "2.0"
info:
  description: "踏切に関するデータをJSON形式で配信するAPIです。"
  version: "v1"
  title: "踏切マップAPI for Public"
host: "api.rc-map.com"
basePath: "/v1/"
schemes:
- "https"
paths:
  /all:
    get:
      tags:
      - "全て"
      summary: "全てのデータを返します"
      description: ""
      operationId: "getAllData"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/Response'
  /prefecture/:prefecture_name:
    get:
      tags:
      - "都道府県別"
      summary: "都道府県名に沿ったデータを返します"
      description: ""
      operationId: "getHyogoData"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/Response'
  /route/:route_name:
    get:
      tags:
      - "路線別"
      summary: "路線名に沿ったデータを返します"
      description: ""
      operationId: "getAkoData"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful"
          schema:
            type: "array"
            items:
              $ref: '#/definitions/Response'
definitions:
  Response:
    type: "object"
    properties:
      rc_id:
        type: "integer"
        format: "int64"
        example: 1
        description: "管理ID"
      rc_address:
        type: "string"
        example: "兵庫県加古川市加古川町中津字樋掛388-2"
        description: "住所"
      rc_name:
        type: "string"
        example: "日岡第二"
        description: "踏切道名"
      rc_kana:
        type: "string"
        example: "ひおかだいに"
        description: "踏切道名かな"
      lat:
        type: "number"
        format: "float"
        example: 34.770854
        description: "緯度"
      lng:
        type: "number"
        format: "float"
        example: 134.850095
        description: "経度"
      transportation_bureau:
        type: "string"
        example: "近畿"
        description: "運輸局"
      prefecture_name:
        type: "string"
        example: "兵庫"
        description: "都道府県名"
      route_name:
        type: "string"
        example: "加古川線"
        description: "路線名"
      kilometer:
        type: "number"
        format: "float"
        example: 2.086
        description: "キロ程"